@import 'base.css';
@import 'components/navbar.css';
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/cards.css';
@import 'components/tables.css';
@import 'components/docs.css';
@import 'components/alerts.css';
@import 'components/pagination.css';
@import 'components/breadcrumbs.css';
@import 'components/errors.css';
@import 'sections/hero.css';
@import 'sections/crud.css';
@import 'sections/footer.css';
@import 'sections/skills.css';
@import 'sections/features.css';
@import 'sections/dashboard.css';